$lightColor: #fbfbfb;

html {
  background-color: $lightColor;

  .file-tree li {
    background-color: $lightColor;
  }

  #logo-dark {
    margin-top: 0;
  }

  body {
    &>div {
      margin-top: 0;
    }
  }
}