@import "components/shortcode.scss";
@import "mixins/breakpoint.scss";

// COLORS
$teal: #63BDA2;
$gray-light: #ABABAB;
$gray-dark: #5F5F5F;

// NEW COLORS
$dark-color: #111827;
$light-color: #b9b9b9;

#logo {
  border: none;
  width: 60px;
}

.post-content {
  a {
    color: #63bda2;
  }
}

img {
  border: 1px dashed;
  border-radius: 6px;
}

.highlight {
  margin: 0 0 1em;

  td > pre {
    overflow: hidden;
  }
}

.credits {
  font-size: .85rem;
  line-height: 1.25;
  color: #ababab;

  a {
    font-size: .85rem;
  }
}

.toc {
  border-left: 4px solid #63bda2;
  padding-left: 0.75em;
  
  &.bot {
    margin-bottom: 1.25em;
    display: none;

    @include media(900px) {
      display: block;
    }
  }

  &.top {
    margin-top: 1.25em;

    @include media(900px) {
      display: none;
    }
  }

  .toc-label {
    font-size: 1.1em;
    margin-top: 0;
  }

  #TableOfContents {
    position: static;
    padding: 0;

    & > ul {
      padding: 0;
    }

    ul {
      list-style: none;
      margin: 0;

      a {
        text-decoration: none;
        color: $gray-light;
      }
    }
  }
}

.tags {
  padding: 0;

  .tag {
    display: inline-block;
    border: 1px dashed #5f5f5f;
    border-radius: 4px;
    padding: 2px 4px;
    color: #63bda2;

    a {
      text-decoration: none;
    }
  }
}

// OVERRIDE NOTEWORTHY DARK MODE
body {
  // color-scheme: dark;
  color: $light-color;
  background-color: $dark-color;
}

h2 {
  a {
      text-shadow: 0px -2px 0 $dark-color, 0px -1px 0 $dark-color, 0px 0px 0 $dark-color, 2px -2px 0 $dark-color, 2px -1px 0 $dark-color, 2px 0px 0 $dark-color, -2px -2px 0 $dark-color, -2px -1px 0 $dark-color, -2px 0px 0 $dark-color, 1px -2px 0 $dark-color, 1px -1px 0 $dark-color, 1px 0px 0 $dark-color, -1px -2px 0 $dark-color, -1px -1px 0 $dark-color, -1px 0px 0 $dark-color, 0px -2px 0 $dark-color, 0px -1px 0 $dark-color, 0px 0px 0 $dark-color;
      box-shadow: 0 -1px 0 0 $dark-color inset, 0 -2px 0 0 transparent inset;
      color: $teal;

      &:hover {
          box-shadow: 0 -1px 0 0 $dark-color inset, 0 -2px 0 0 $gray-dark inset;
      }

      &:visited {
          color: darken($teal, 20);
      }
  }
}

p code,
kbd {
    background: lighten($dark-color, 20);
}

.post-footer {
  border-bottom: 1px solid lighten($dark-color, 10);
}

ul {
  padding-left: 1em;
}

a {
  color: darken($gray-light, 10);
}

#disqus_thread {
  margin-top: 2em;
  
  iframe {
    background-color: $dark-color;
  }
}

hr {
  border-bottom: 1px solid lighten($dark-color, 10);
}