<header class="intro-and-nav" role="banner">
  <div>
    <div class="intro">
      <a class="logo" href="/" aria-label="{{ .Site.Title }} home page">
        <img id="logo" src="{{ "images/logo.svg" | absURL }}" alt="logo">
        <img id="logo-dark" style="display: none" src="{{ "images/logo_light.svg" | absURL }}" alt="logo">
      </a>

      <p class="library-desc">
        {{ with .Site.Params.description }}
          {{ . | markdownify }}
        {{ end }}
      </p>
    </div>
    {{ partial "nav.html" . }}

    <div>
        <label for="themer">
          dark mode: <input type="checkbox" id="themer" class="vh">
          <span aria-hidden="true"></span>
        </label>
      </div>
  </div>
</header>