<!-- Sidebar navigation -->
<nav>
  {{ partial "header.html" . }}

  {{ if eq .Type "posts"}}
  <div class="toc bot">
    <small>{{ partial "time-to-read.html" . }}</small>
    {{ if ne .TableOfContents `<nav id="TableOfContents"></nav>` }}
    <h6 class="toc-label">What's on this page</h6>
    <div class="toc-body">
      {{ .TableOfContents }}
    </div>
    {{ end }}
  </div>
  {{ end }}

  <div class="nav-menu">
  {{ range .Site.Menus.main }}
    <a class="color-link nav-link" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
  {{ end }}
  <a class="color-link nav-link" href="{{ .Site.RSSLink }}" target="_blank" rel="noopener" type="application/rss+xml">RSS</a>
</div>

{{ partial "footer.html" . }}
</nav>
